	<nav class="navbar navbar-default navbar-static-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/">Meet Bob &ndash; Image Shop</a>
				</div>

				<div class="navbar-collapse collapse" id="navbar">
					<form class="navbar-form navbar-left hidden-xs hidden-sm" action="/" method="GET" role="search">
						<div class="form-group">
							<input class="form-control col-md-12 search-query" name="q" type="text" placeholder="Search image..." />
						</div>
					</form>
					<!--
					<ul class="nav navbar-nav">
						<li class="active"><a href="#">Home</a></li>
						<li><a href="#about">About</a></li>
						<li><a href="#contact">Contact</a></li>
					</ul>
					-->
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a href="/checkout">
								<span class="fa fa-shopping-cart"></span> Cart (<span data-cart-items-count>0</span>)
							</a>
						</li>
						<li><a href="#">About</a></li>
						<li><a href="#">Shipping</a></li>
					</ul>
				</div><!--/.nav-collapse -->
			</div>
		</nav>
