<!DOCTYPE html>
<html lang="en">
	<head>
		<title><%= title %></title>
    <meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script>
		<![endif]-->

		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="/css/style.css">
	</head>
	<body>

		<% include inc/nav-bar %>

<% if(status == 'checkout') { %>
		<div class="container">
				<div class="panel panel-default">
					<div class="panel-heading">
						Your Shoppping Cart
					</div>
					<div id="cart-items" class="panel-body">
						<div class="alert alert-info h3">
							Your cart seems empty! :( <a href="/">Wanna search for something?</a>
						</div>
					</div>
					<script id="cart-item-tmpl" type="text/x-handlebars-template">
							<!-- item -->
								<div class="row margin-large-bottom" data-cart-item="{{id}}">
											<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
												<img class="img-responsive img-thumbnail margin-medium-top" src="{{url}}">
											</div>
											<div class="col-xs-6 col-sm-6 col-md-5 col-lg-5">
													<span class="text-muted small">
														Info:
													</span>
													<br />
													<h2 class="h3 margin-none-top">{{title}}</h2>
													Some lorem info... blabalbahbla
											</div>
											<div class="clearfix visible-xs-block visible-sm-block hidden-md hidden-lg "></div>
											<div class="col-xs-6 col-sm-6 col-md-2 col-lg-2 text-center">
												<span class="text-muted small">
													Price:
												</span>
												<br />
												<span class="h3">{{price}}€</span>
											</div>
											<div class="col-xs-6 col-sm-6 col-md-2 col-lg-2 text-center">
												<span class="text-muted small">
													Q.ty:
												</span>
												<br />
												<div class="input-group">
													<input type="hidden" name="item" value="{{id}}">
													<input type="number" min="0" max="999" data-cart="qty" name="qty-{{id}}" class="form-control" value="{{qty}}">
													<span class="input-group-btn">
														<button type="button" data-action="remove" class="btn btn-warning" data-toggle="tooltip" data-placement="bottom" title="Remove from Cart" >
															<span class="fa fa-remove"></span><span class="sr-only">Remove</span>
														</button>
													</span>
												</div>
											</div>
											<div class="col-xs-12"><hr /></div>
								</div>
							<!-- item -->
					</script>
					<div class="panel-body">
						<div class="row text-muted">
							<div class="col-xs-6 col-sm-6 col-md-8 col-lg-8 text-right h3">Total:</div>
							<div class="col-xs-6 col-sm-6 col-md-2 col-lg-2 text-center h3" data-cart="total"></div>
						</div>
					</div>
					<div class="panel-heading text-center text-success cursor-pointer" data-toggle="collapse" data-target="#checkout" aria-expanded="true" aria-controls="checkout">
						<h3 class="text-success margin-none">Checkout <span class="fa fa-arrow-down"></span></h3>
					</div>
					<div class="panel-body collapse in light-background" id="checkout">
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-6 col-lg-7">
								<form class="form-horizontal" role="form" action="./thank-you" id="checkout-form">

									<div class="form-group text-center text-info">
											<p>Personal Data</p>
									</div>

									<div class="form-group">
										<label for="field-name" class="col-sm-3 control-label">Name *</label>
										<div class="col-sm-6">
											<input type="text" data-validation-rule="*" class="form-control" id="field-name" placeholder="Your full name">
										</div>
									</div>
									<div class="form-group">
										<label for="field-phone" class="col-sm-3 control-label">Phone *</label>
										<div class="col-sm-5">
											<input type="text" data-validation-rule="*" class="form-control" id="field-phone" placeholder="+00 0000 ....">
										</div>
									</div>
									<div class="form-group">
										<label for="field-email" class="col-sm-3 control-label">Email *</label>
										<div class="col-sm-6">
											<input type="email" data-validation-rule="/[a-z1-9_\.]{1,}@[a-z1-9_\.]{1,}/" class="form-control" id="field-email" placeholder="Email">
										</div>
									</div>

									<div class="form-group">
										<label for="field-email-confirm" class="col-sm-3 control-label">Email Confirm *</label>
										<div class="col-sm-6">
											<input type="email" data-validation-rule="#field-email" class="form-control" id="field-email-confirm" placeholder="Email Confirm">
										</div>
									</div>

									<div class="visible-xs visible-sm hidden-md hidden-lg"><hr /></div>

									<div class="form-group text-center text-info">
											<p>Shipment Info</p>
									</div>
									<div class="form-group">
										<label for="field-contry" class="col-sm-3 control-label">Country *</label>
										<div class="col-sm-6">
											<input type="text" data-validation-rule="*" class="form-control" id="field-contry" placeholder="">
										</div>
									</div>

									<div class="form-group">
										<label for="field-city" class="col-sm-3 control-label">City *</label>
										<div class="col-sm-6">
											<input type="text" data-validation-rule="*" class="form-control" id="" placeholder="field-city">
										</div>
									</div>

									<div class="form-group">
										<label for="field-postal-code" class="col-sm-3 control-label">Postal Code *</label>
										<div class="col-sm-5">
											<input type="text" data-validation-rule="*" class="form-control" id="field-postal-code" placeholder="">
										</div>
									</div>

									<div class="form-group">
										<label for="field-address" class="col-sm-3 control-label">Address *</label>
										<div class="col-sm-6">
											<input type="text" data-validation-rule="*" class="form-control" id="field-address" placeholder="">
										</div>
									</div>

									<div class="form-group">
										<label for="field-notes" class="col-sm-3 control-label">Notes</label>
										<div class="col-sm-6">
											<textarea class="form-control" placeholder="Note" id="field-notes"></textarea>
										</div>
									</div>

									<hr />

									<div class="form-group">
										<div class="col-sm-offset-3 col-sm-6">
											<button type="submit" class="btn btn-primary">Buy</button>
										</div>
									</div>
								</form>
							</div>
							<div class="col-xs-12 col-sm-12 col-md-6 col-lg-5 text-muted">
								<h4 class="text-center text-info">Some Useful Advice</h4>
								<p>
									Here some useful advice for the shipment Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								</p>
								<p>
									tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
									quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
								</p>
								<p>
									consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
									cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
									proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								</p>
								<h4 class="text-center text-info">DOs:</h4>
								<ol>
										<li>Do this...</li>
										<li>That</li>
										<li>Another thing to do</li>
								</ol>
								<h4 class="text-center text-info">DON'Ts:</h4>
								<ol>
										<li>No</li>
										<li>Never</li>
										<li>Giammai</li>
								</ol>
							</div>
						</div>
					</div>
				</div>

		</div><!-- container-->
<% } else { %>
		<div class="container">
			<div class="alert alert-success">
				Thank you! Your order is already on its way!
			</div>
		</div>
		<script
<% } %>



		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-serialize-object/2.0.0/jquery.serialize-object.compiled.js"></script>
		<script src="/js/lib/MediawikiJS.js"></script>
		<script src="/js/lib/Wiki.js"></script>
		<script src="/js/webshop-cart.js"></script>
		<script src="/js/webshop-checkout.js"></script>
		<% if(status == 'thankyou') { %>
			<script>
				localStorage_setObject('cart', []);
			</script>
		<% } %>

	</body>
</html>





