<!DOCTYPE html>
<html lang="en">
	<head>
		<title><%= title %></title>
    <meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script>
		<![endif]-->

		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="/css/style.css">
	</head>
	<body>

	 	<% include inc/nav-bar %>

		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-md-6">
					<img
						src="http://upload.wikimedia.org/wikipedia/commons/3/3b/Pan_di_zucchero_sardegna.jpg"
						class="img-responsive img-thumbnail">
				</div>
				<div class="col-xs-12 col-md-6">
					<h1>Lorem Ipsum Title of the Picture</h1>
					<table class="table table-striped">
						<tr>
							<td>Author</td>
							<td>xxxxx</td>
						</tr>
						<tr>
							<td>Size</td>
							<td>AAxBB cm</td>
						</tr>
						<tr>
							<td>Other Info</td>
							<td>Some other cool info here.</td>
						</tr>
					</table>
				</div>
				<div class="text-center">
					<form action="#" data-action="add-to-cart">
						<input type="hidden" name="id" value="fakeId" />
						<input type="hidden" name="size" value="fakesize" />
						<input type="hidden" name="title" value="faketitle" />
						<input type="hidden" name="descr" value="fakedescr" />
						<button type="submit" class="btn btn-transparent">
							<span class="btn">110€</span>
							<span class="btn btn-primary" data-loading-text="Adding...">
								<span class="fa fa-shopping-cart"></span>&#32;Add to Cart
							</span>
						</button>
					</form>
				</div>
			</div>

		</div>

		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-serialize-object/2.0.0/jquery.serialize-object.compiled.js"></script>
		<script src="/js/lib/MediawikiJS.js"></script>
		<script src="/js/lib/Wiki.js"></script>
		<script src="/js/webshop-cart.js"></script>
	</body>
</html>





