<!DOCTYPE html>
<html lang="en">
	<head>
		<title><%= title %></title>
    <meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script>
		<![endif]-->

		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="css/style.css">
	</head>
	<body>

 	<% include inc/nav-bar %>

		<div class="container">
				<div class="row visible-xs hidden-sm hidden-md hidden-lg">
					<div class="col-xs-12 col-md-12 col-lg-12">
						<form role="form">
							<div class="form-group">
								<div class="input-group">
									<input class="form-control search-query" type="text" placeholder="Search image..." />
									<span class="input-group-btn">
										<button role="button" class="search-query-button btn btn-primary">
											<span class="glyphicon glyphicon-search"></span>
											<span class="sr-only2">Search</span>
										</button>
									</span>
								</div>
							</div>
						</form>
					</div>
				</div>

				<div class="row" id="results">
					<script id="results-item-tmpl" type="text/x-handlebars-template">
						<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 margin-large-bottom">
							<a href="#">
								<figure data-title="{{title}}">
									<img
										onload="imageLoading(this)"
										src="{{url}}"
										alt="{{title}}"
										class="img-rounded img-responsive img-thumbnail display-block img-fade-in center-block"
										>
									<figcaption>
										<p>{{canonicaltitle}}</p>
									</figcaption>
									{{jsonString}}
								</figure>
							</a>
						</div>
					</script>
					<script id="error-query-tmpl" type="text/x-handlebars-template">
						<div class="col-xs-12 margin-large-bottom">
							<div class="alert alert-warning">
								{{unescape info}} <span class="label label-default">{{code}}</span>
							</div>
						</div>
					</script>
					<script id="loading-query-tmpl" type="text/x-handlebars-template">
						<div class="col-xs-12 margin-large-bottom" data-type="loading">
							<div class="alert alert-info">
								<span class="fa fa-spinner"></span>&#32;Retrieving images...
							</div>
						</div>
					</script>

				</div>
				<div class="row hidden" id="results-load-more">
					<div class="col-xs-12 text-center">
						<button role="button" class="display-block btn btn-info results-load-more-btn">
							More
						</button>
					</div>
				</div>
		</div>

		<!-- Modal -->
		<div class="modal fade" id="preview-modal" tabindex="-1" role="dialog" aria-labelledby="preview-modal-title" aria-hidden="true">
			<div class="modal-dialog">
				<script id="modal-body-tmpl" type="text/x-handlebars-template">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
							<h4 class="modal-title" id="preview-modal-title">{{title}}</h4>
						</div>
						<div class="modal-body">
								<span class="display-block text-center">
									<img src="{{url}}" class="img-responsive display-block">
								</span>
								<small class="label label-default">{{price}} €</small>
								<small class="label label-default">{{sizeInMB size}} MB</small>
						</div>
						<div class="modal-footer">
							<form action="#" cssClass="display-inline" data-action="add-to-cart">
								<!-- all values used by the cart sistem useful also for the backend -->
								<input type="hidden" name="id" value="{{id}}" />
								<input type="hidden" name="price" value="{{price}}" />
								<input type="hidden" name="title" value="{{title}}" />
								<input type="hidden" name="url" value="{{url}}" />
								<input type="hidden" name="qty" value="1" />
								<a href="/detail/{{name}}" class="btn btn-info btn-sm">
									<span class="fa fa-eye"></span>
									Go to Details
								</a>
								<button type="submit" class="btn btn-primary btn-sm" data-loading-text="Adding...">
									<span class="fa fa-shopping-cart"></span>&#32;Add to Cart
								</button>
							</form>
						</div>
					</div>
				</script>
			</div>
		</div>

		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-serialize-object/2.0.0/jquery.serialize-object.compiled.js"></script>
		<script src="js/lib/MediawikiJS.js"></script>
		<script src="js/lib/Wiki.js"></script>
		<script src="js/webshop-search.js"></script>
		<script src="js/webshop-cart.js"></script>
	</body>
</html>





