body {
	padding: 0 0 2em 0;
	margin: 0 0 2em 0;
}

.modal-dialog {
  //width: 98%;
  //height: 92%;
  padding: 0;

	.modal-body {
		img {
			max-height: 100% !important;
			//height: 100% !important;
			width: auto !important;
			margin: 0 auto;
		}
	}
}

#results {
	figure {
		position: relative;

		img {
			height: 200px;
		}

		figcaption {
			position: absolute;
			bottom: 0;
			opacity: 0;
			background-color: rgba(0,0,0, .60);
			color: #fff;
			width: 100%;
			padding: 10px;
			border-radius: 5px;
		}
		&:hover {
			figcaption {
				opacity: 1;
			}
		}
	}

}

.img-fade-in {
	opacity:0;
	-webkit-transition: opacity 1200ms ease-in;
	-moz-transition: opacity 1200ms ease-in;
	-ms-transition: opacity 1200ms ease-in;
	-o-transition: opacity 1200ms ease-in;
	transition: opacity 1200ms ease-in;
}

.margin-small-top {
	margin-top: 10px !important;
}
.margin-small-bottom {
	margin-bottom: 10px !important;
}
.margin-small-left {
	margin-left: 10px !important;
}
.margin-small-right {
	margin-right: 10px !important;
}

.margin-medium-top {
	margin-top: 25px !important;
}
.margin-medium-bottom {
	margin-bottom: 25px !important;
}
.margin-medium-left {
	margin-left: 25px !important;
}
.margin-medium-right {
	margin-right: 25px !important;
}

.margin-large-top {
	margin-top: 45px !important;
}
.margin-large-bottom {
	margin-bottom: 45px !important;
}
.margin-large-left {
	margin-left: 45px !important;
}
.margin-large-right {
	margin-right: 45px !important;
}

.margin-none-top {
	margin-top: 0 !important;
}

.margin-none {
	margin-top: 0 !important;
	margin-left: 0 !important;
	margin-right: 0 !important;
	margin-bottom: 0 !important;
	margin: 0 !important;
}

.btn-transparent,
.btn-transparent:link,
.btn-transparent:visited,
.btn-transparent:hover,
.btn-transparent:active,
.btn-transparent:focus {
	background-color: transparent !important;
}

.qty {
	width: 45px !important;
}

.cursor-pointer {
	cursor: pointer;
}

.light-background {
	background-color: #f5f5f5;
}


#cart-items > :first-child {
	display: none;
}
#cart-items > :last-child {
	display: block;
}

#cart-items > [data-cart-item]:last-child {
	margin-bottom: 0 !important;
}
